.notification__container {
    position: fixed;
    bottom: var(--spacing-large);
    left: var(--spacing-large);
    display: flex;
    align-items: center;
    padding: var(--spacing-medium) var(--spacing-large);
    border: 1px solid var(--color-dark);
    background-color: var(--color-light);
}
.notification__close {
    width: 40px;
    height: 40px;
    margin-left: var(--spacing-large);
    transition: transform 0.5s;
}
.notification__close:hover {
    transform: scale(1.1);
    opacity: 0.7;
}