/* css vars */
:root {
    --color-blue: #3199dc;
    --color-dark: #222222;
    --color-light: #f8f9fa;

    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 20px;
}

/* general styles */
*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
}

/* scrollbars */
* {
    scrollbar-color: var(--color-blue) var(--color-dark);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-dark);
}